<%= provide(:title, "Weekly Report | #{@user.name}") %>
<h1>
	Weekly Report
	<div>
		<small>
			<%= (Time.now.beginning_of_week - 1.day).strftime("%b %-d, %Y") %> to
			<%= (Time.now.end_of_week - 1.day).strftime("%b %-d, %Y") %>
		</small>
  </div>
</h1>
<div class="row">
	<div class="span12">
		<table class="table table-striped">
			<tr>
				<td>&nbsp;</td>
				<td>Sun, <%= @sunday.strftime("%-m/%e") %></td>
				<td>Mon, <%= @monday.strftime("%-m/%e") %></td>
				<td>Tues, <%= @tuesday.strftime("%-m/%e") %></td>
				<td>Wed, <%= @wednesday.strftime("%-m/%e") %></td>
				<td>Thurs, <%= @thursday.strftime("%-m/%e") %></td>
				<td>Fri, <%= @friday.strftime("%-m/%e") %></td>
				<td>Sat, <%= @saturday.strftime("%-m/%e") %></td>
			</tr>
			<tr>
				<td>AM Weight:</td>
				<td><%= format_output(@sun_daily, :am_weight) %></td>
				<td><%= format_output(@mon_daily, :am_weight) %></td>
				<td><%= format_output(@tues_daily, :am_weight) %></td>
				<td><%= format_output(@wed_daily, :am_weight) %></td>
				<td><%= format_output(@thurs_daily, :am_weight) %></td>
				<td><%= format_output(@fri_daily, :am_weight) %></td>
				<td><%= format_output(@sat_daily, :am_weight) %></td>
			</tr>
			<tr>
				<td>AM Blood Pressure:</td>
				<td>113 / 78</td>
				<td>113 / 78</td>
				<td>113 / 78</td>
				<td>113 / 78</td>
				<td>113 / 78</td>
				<td>113 / 78</td>
				<td>113 / 78</td>
			</tr>
			<tr>
				<td>AM Pulse:</td>
				<td><%= format_output(@sun_daily, :am_pulse) %></td>
				<td><%= format_output(@mon_daily, :am_pulse) %></td>
				<td><%= format_output(@tues_daily, :am_pulse) %></td>
				<td><%= format_output(@wed_daily, :am_pulse) %></td>
				<td><%= format_output(@thurs_daily, :am_pulse) %></td>
				<td><%= format_output(@fri_daily, :am_pulse) %></td>
				<td><%= format_output(@sat_daily, :am_pulse) %></td>
			</tr>
			<tr>
				<td>AM Temperature:</td>
				<td><%= format_output(@sun_daily, :am_temp) %></td>
				<td><%= format_output(@mon_daily, :am_temp) %></td>
				<td><%= format_output(@tues_daily, :am_temp) %></td>
				<td><%= format_output(@wed_daily, :am_temp) %></td>
				<td><%= format_output(@thurs_daily, :am_temp) %></td>
				<td><%= format_output(@fri_daily, :am_temp) %></td>
				<td><%= format_output(@sat_daily, :am_temp) %></td>
			</tr>
			<tr>
				<td>AM Medication:</td>
				<td><%= time_output(@sun_daily, :am_meds) %></td>
				<td><%= time_output(@mon_daily, :am_meds) %></td>
				<td><%= time_output(@tues_daily, :am_meds) %></td>
				<td><%= time_output(@wed_daily, :am_meds) %></td>
				<td><%= time_output(@thurs_daily, :am_meds) %></td>
				<td><%= time_output(@fri_daily, :am_meds) %></td>
				<td><%= time_output(@sat_daily, :am_meds) %></td>
			</tr>
			<tr>
				<td>Miralax:</td>
				<td><%= time_output(@sun_daily, :miralax) %></td>
				<td><%= time_output(@mon_daily, :miralax) %></td>
				<td><%= time_output(@tues_daily, :miralax) %></td>
				<td><%= time_output(@wed_daily, :miralax) %></td>
				<td><%= time_output(@thurs_daily, :miralax) %></td>
				<td><%= time_output(@fri_daily, :miralax) %></td>
				<td><%= time_output(@sat_daily, :miralax) %></td>
			</tr>
			<tr>
				<td>Lunch Medication:</td>
				<td><%= time_output(@sun_daily, :lunch_meds) %></td>
				<td><%= time_output(@mon_daily, :lunch_meds) %></td>
				<td><%= time_output(@tues_daily, :lunch_meds) %></td>
				<td><%= time_output(@wed_daily, :lunch_meds) %></td>
				<td><%= time_output(@thurs_daily, :lunch_meds) %></td>
				<td><%= time_output(@fri_daily, :lunch_meds) %></td>
				<td><%= time_output(@sat_daily, :lunch_meds) %></td>
			</tr>
			<tr>
				<td>Nap:</td>
				<td><%= format_output(@sun_daily, :nap) %></td>
				<td><%= format_output(@mon_daily, :nap) %></td>
				<td><%= format_output(@tues_daily, :nap) %></td>
				<td><%= format_output(@wed_daily, :nap) %></td>
				<td><%= format_output(@thurs_daily, :nap) %></td>
				<td><%= format_output(@fri_daily, :nap) %></td>
				<td><%= format_output(@sat_daily, :nap) %></td>
			</tr>
			<tr>
				<td>PM Medication:</td>
				<td><%= time_output(@sun_daily, :pm_meds) %></td>
				<td><%= time_output(@mon_daily, :pm_meds) %></td>
				<td><%= time_output(@tues_daily, :pm_meds) %></td>
				<td><%= time_output(@wed_daily, :pm_meds) %></td>
				<td><%= time_output(@thurs_daily, :pm_meds) %></td>
				<td><%= time_output(@fri_daily, :pm_meds) %></td>
				<td><%= time_output(@sat_daily, :pm_meds) %></td>
			</tr>
			<tr>
				<td>PM Blood Pressure:</td>
				<td>118 / 82</td>
				<td>118 / 82</td>
				<td>118 / 82</td>
				<td>118 / 82</td>
				<td>118 / 82</td>
				<td>118 / 82</td>
				<td>118 / 82</td>
			</tr>
			<tr>
				<td>PM Pulse:</td>
				<td><%= format_output(@sun_daily, :pm_pulse) %></td>
				<td><%= format_output(@mon_daily, :pm_pulse) %></td>
				<td><%= format_output(@tues_daily, :pm_pulse) %></td>
				<td><%= format_output(@wed_daily, :pm_pulse) %></td>
				<td><%= format_output(@thurs_daily, :pm_pulse) %></td>
				<td><%= format_output(@fri_daily, :pm_pulse) %></td>
				<td><%= format_output(@sat_daily, :pm_pulse) %></td>
			</tr>
			<tr>
				<td>Bedtime Medication:</td>
				<td><%= time_output(@sun_daily, :bedtime_meds) %></td>
				<td><%= time_output(@mon_daily, :bedtime_meds) %></td>
				<td><%= time_output(@tues_daily, :bedtime_meds) %></td>
				<td><%= time_output(@wed_daily, :bedtime_meds) %></td>
				<td><%= time_output(@thurs_daily, :bedtime_meds) %></td>
				<td><%= time_output(@fri_daily, :bedtime_meds) %></td>
				<td><%= time_output(@sat_daily, :bedtime_meds) %></td>
			</tr>
			<tr>
				<td>Bedtime:</td>
				<td><%= time_output(@sun_daily, :bedtime) %></td>
				<td><%= time_output(@mon_daily, :bedtime) %></td>
				<td><%= time_output(@tues_daily, :bedtime) %></td>
				<td><%= time_output(@wed_daily, :bedtime) %></td>
				<td><%= time_output(@thurs_daily, :bedtime) %></td>
				<td><%= time_output(@fri_daily, :bedtime) %></td>
				<td><%= time_output(@sat_daily, :bedtime) %></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><%= link_to "Edit", edit_daily_path(@user.dailies.last),
						class: "btn btn-primary" %></td>
				<td><%= link_to "Edit", edit_daily_path(@user.dailies.last), 
						class: "btn btn-primary" %></td>
				<td><%= link_to "Edit", edit_daily_path(@user.dailies.last),
						class: "btn btn-primary"  %></td>
				<td><%= link_to "Edit", edit_daily_path(@user.dailies.last), 
						class: "btn btn-primary"  %></td>
				<td><%= link_to "Edit", edit_daily_path(@user.dailies.last), 
						class: "btn btn-primary"  %></td>
				<td><%= link_to "Edit", edit_daily_path(@user.dailies.last), 
						class: "btn btn-primary"  %></td>
				<td><%= link_to "Edit", edit_daily_path(@user.dailies.last), 
						class: "btn btn-primary"  %></td>
			</tr>
		</table>