<table class="table table-striped">
	<% today = current_user.dailies.last %>
	<tr><td>Date:</td><td><%= today.report_for %></td></tr>
	<tr><td>AM Weight:</td><td><%= today.am_weight %></td></tr>
	<tr><td>AM Blood Pressure:</td>
		<td><%= bp_output(today, :am_systolic, :am_diastolic) %></td></tr>
	<tr><td>AM Pulse:</td><td><%= today.am_pulse %></td></tr>
	<tr><td>AM Temperature:</td><td><%= today.am_temp %></td></tr>
	<tr><td>AM Medication:</td><td><%= report_time(today.am_meds) %></td></tr>
	<tr><td>Miralax</td><td><%= report_time(today.miralax) %></td></tr>
	<tr><td>Lunch Medication:</td><td><%= report_time(today.lunch_meds) %></td></tr>
	<tr><td>Nap:</td><td><%= nap_output(today) %></td></tr>
	<tr><td>PM Medication:</td><td><%= report_time(today.pm_meds) %></td></tr>
	<tr><td>PM Blood Pressure:</td><td><%= bp_output(today, :pm_systolic, :pm_diastolic) %></td></tr>
	<tr><td>PM Pulse:</td><td><%= today.pm_pulse %></td></tr>
	<tr><td>Bedtime Medication:</td><td><%= report_time(today.bedtime_meds) %></td></tr>
	<tr><td>Bedtime:</td><td><%= report_time(today.bedtime) %></td></tr>
	<tr><td><%= link_to "Edit", edit_daily_path(Daily.find_by(report_for:
					Date.today)), class: "btn btn-primary" %></td><td></td></tr>
</table>