<table class="table table-striped">
	<% today = @user.dailies.last %>
	<tr><td>Date:</td><td><%= today.report_for %></td></tr>
	<tr><td>AM Weight:</td><td><%= today.am_weight %></td></tr>
	<tr><td>AM Blood Pressure:</td>
		<td><%= today.am_systolic %> / 
		<%= today.am_diastolic %></td></tr>
	<tr><td>AM Pulse:</td><td><%= today.am_pulse %></td></tr>
	<tr><td>AM Temperature:</td><td><%= today.am_temp %></td></tr>
	<tr><td>AM Medication:</td><td><%= today.am_meds.strftime("%l:%M %p") %></td></tr>
	<tr><td>Miralax</td><td><%= today.miralax.strftime("%l:%M %p") %></td></tr>
	<tr><td>Lunch Medication:</td><td><%= today.lunch_meds.strftime("%l:%M %p") %></td></tr>
	<tr><td>Nap:</td><td><%= today.nap %></td></tr>
	<tr><td>PM Medication:</td><td><%= today.pm_meds.strftime("%l:%M %p") %></td></tr>
	<tr><td>PM Blood Pressure:</td><td><%= today.pm_systolic %> / 
		<%= today.pm_diastolic %></td></tr>
	<tr><td>PM Pulse</td><td><%= today.pm_pulse %></td></tr>
	<tr><td>Bedtime Medication:</td><td><%= today.bedtime_meds.strftime("%l:%M %p") %></td></tr>
	<tr><td>Bedtime:</td><td><%= today.bedtime.strftime("%l:%M %p") %></td></tr>
</table>