<%= provide(:title, "PillBox | Today") %>

<h1>Edit Daily Report
	<div>
		<small>
			<%= Time.now.strftime("%A, %B %d, %Y") %>
		</small>
	</div>
</h1>

<div class="row">
	<div class="span4 offset4">
		<%= form_for(@daily) do |f| %>

			<%= f.label :am_weight, "AM Weight" %>
			<%= f.text_field :am_weight %>

			<%= f.label :am_systolic, "AM Systolic" %>
			<%= f.text_field :am_systolic %>

			<%= f.label :am_diastolic, "AM Diastolic" %>
			<%= f.text_field :am_diastolic %>

			<%= f.label :am_pulse, "AM Pulse" %>
			<%= f.text_field :am_pulse %>

			<%= f.label :am_temp, "AM Temperature" %>
			<%= f.text_field :am_temp %>

			<%= f.label :am_meds, "AM Medication" %>
			<%= f.time_field :am_meds %>

			<%= f.label :miralax %>
			<%= f.time_field :miralax %>

			<%= f.label :lunch_meds, "Lunch Medication" %>
			<%= f.time_field :lunch_meds %>

			<%= f.label :nap %>
			<%= f.radio_button :nap, true %>
			<%= f.label :nap, 'Yes', value: true, class: 'radio inline' %>
			<%= f.radio_button :nap, false %>
			<%= f.label :nap, 'No', value: false, class: 'radio inline' %>

			<%= f.label :pm_meds, "PM Medication" %>
			<%= f.time_field :pm_meds %>

			<%= f.label :pm_systolic, "PM Systolic" %>
			<%= f.text_field :pm_systolic %>

			<%= f.label :pm_diastolic, "PM Diastolic" %>
			<%= f.text_field :pm_diastolic %>

			<%= f.label :pm_pulse, "PM Pulse" %>
			<%= f.text_field :pm_pulse %>

			<%= f.label :bedtime_meds, "Bedtime Medication" %>
			<%= f.time_field :bedtime_meds %>

			<%= f.label :bedtime %>
			<%= f.time_field :bedtime %>

			<%= f.submit "Save", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>